audio,
video {
  display: block;
  margin-bottom: 20px;
}

video {
  width: 600px;
  height: 400px;
}

button {
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  scale: 0.9;
}
