button {
  padding: 20px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

img {
  display: block;
  cursor: pointer;
}

.round {
  border-radius: 50%;
}

.blue-color {
  color: blue;
}

.beige-color {
  background-color: beige;
}
