body {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
  /* horizontal centering */
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  width: 400px;
  /* border: 1px solid rgba(220, 20, 60, 0.336); */
  margin: 0 auto;
  height: 200px;
  /* T R B L */
  /* padding: 30px 10px 50px 20px; */
  padding: 20px;
  margin-bottom: 20px;
  background-color: beige;
  border-bottom: 3px dashed rgba(0, 128, 0, 0.319);
}

.vcenter {
  line-height: 160px;
  /* height - top padding - bottom padding */
  /* 200 - 20 - 20 = 160 */
}

span {
  color: blueviolet;
  /* display: none; */
  /* display: block; */
}

.blue-color {
  display: inline;
  color: blueviolet;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
