body {
  font-size: 1rem;
  /* font-size: 16px; */
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 40px;
}

p {
  border: 1px solid rgba(220, 20, 60, 0.253);
  border-bottom: 3px dashed rgba(0, 128, 0, 0.254);
  width: 400px;
  height: 300px;
  margin-left: 30px;
  margin: 0 auto;
  /* horizontal centering */
  /* padding-left: 20px;
  padding-bottom: 30px; */
  /* T R B L */
  /* padding: 20px 30px 20px 30px; */
  padding: 20px;
  margin-bottom: 20px;
}

.vcenter {
  line-height: 260px;
  /* height 300 padding 20  300-20-20 */
}

span {
  color: blueviolet;
  /* display: none; */
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
