* {
  color: hotpink;
}

h1 {
  color: limegreen;
}

h2,
h3 {
  color: red;
  font-size: 1.5rem;
}

.blue-color {
  color: blue;
}

#outcome {
  color: brown;

  border: 4px dashed violet;
}

section {
  text-align: center;
  border: 1px solid green;
}

/* #outcome {
  color: violet;
} */

body {
  background-color: beige;
  font-size: 0.9rem;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1 {
  color: rgba(121, 52, 3, 0.42);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}

.mt-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* h1 {
  color: red;
}

h2 {
  color: green;
}

h3 {
  color: blue;
}

p {
  color: gray;
} */

/* cmd /  */
/* 
curly braces  { } 
square bracket [ ]
round brackets ( )
semicolon ;
colon :
syntax : rules of the lang
parantheses < > 
hyphen -
dot .
hash # 



*/
