* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(125deg, #c3cff5, #f2c2e1);
  background-size: cover;
  color: #4f29c6;
}

.box {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background-color: #ffffffd1;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth and mimic the 3d feel of the original website */
}

header {
  background-color: #a962d9;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 20px 0;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navigationlist a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
}

.section h2 {
  margin-bottom: 10px;
  color: #0000004d;
  font-size: 1.8em;
  font-weight: 300;
}

.section {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  font-family: "Work Sans", sans-serif;
}

.gif img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for GIFs */
}

footer {
  margin: 0;
  font-size: 0.9em;
  background-color: #a962d9;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
